
.headBar{
  height: 32px;
  background:#f2f2f2;
  font-size: 12px;
  line-height: 30px;
}
.floutLeft{
  float: left;
}
.floutRight{
  float: right;
}
/*搜索*/
.search{
  margin-top: 40px;
}
.search-left{
  width: 200px;
  height: 80px;
  display: inline-block;
}
.search-right{
  /*display: flex;*/
  display: inline-block;
  width: 60%;
}
/*------------------------*/
/*商品列表left*/
.pro-left-menu{
  width: 200px;
  /*background: #000;*/
}
.pro-menu-list{
  width: 200px;
}
/*鼠标引入弹出层*/
.block{
  /*display: block;*/
  width:400px;
  height: 400px !important;
  background: #ccc;
  position:fixed !important;
  left:350px !important;
  top: 170px !important;
}
.none{
  display: none;
  overflow: hidden;
  z-index: 10;

}
.menu {
  width: 300px;
  height: 500px;
  border: 1px solid #000;
  /*margin-bottom: 10px;*/
  background: #fff;
  /*position: relative !important;*/

}

.menuItem{
  height: 50px;
  border: 1px solid #000;
}
/*.hiddenDiv {*/
/*  width:28px;*/
/*  height: 20px;*/
/*  !*display: block;*!*/
/*  !*font-size:12px;*!*/
/*  !*color:#333;*!*/
/*  border:1px solid #ff0000;*/
/*  !*border-top:none;margin:0px;*!*/
/*  position:absolute;*/
/*  right: 100px;*/
/*  top: 20px;*/
/*!**!*/
/*}*/
#container-pro{
  width: 100%;
  position: relative;
  height: 600px;
  border: 1px solid #f00;
}
#main-pro{
  position: absolute;
  width: 300px;
  height: 500px;
  border: 1px solid #fff000;
  margin: 0 0 0 5%;
  left: 0;
  top: 0;
  z-index: 100;
}

/*轮播图*/
.ant-carousel {
  /*box-sizing: border-box;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*color: rgba(0, 0, 0, 0.65);*/
  /*font-size: 14px;*/
  /*font-variant: tabular-nums;*/
  /*line-height: 1.5715;*/
  /*list-style: none;*/
  /*font-feature-settings: 'tnum', "tnum";*/
  position: absolute;
  height: 300px;
  width: 100%;
}